<div class="container">
  <div class="row">

    <div class="col-md-6 first-image">
      <img src="/assets/images/Gray-Box.gif" alt="website-sample" class="site-image">
      <h3 class="title">Cook It Up</h3>
      <p class="description">An online recipe sharing site allowing foodies and eaters a like to search and share their own fabulous recipes.</p>
    </div>

    <div class="col-md-6">
      <img src="/assets/images/Gray-Box.gif" alt="website-sample" class="site-image site-image1">
      <h3 class="title">Cook It Up</h3>
      <p class="description">An online recipe sharing site allowing foodies and eaters a like to search and share their own fabulous recipes.</p>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6 first-image">
      <img src="/assets/images/Gray-Box.gif" alt="website-sample" class="site-image">
      <h3 class="title">Cook It Up</h3>
      <p class="description">An online recipe sharing site allowing foodies and eaters a like to search and share their own fabulous recipes.</p>
    </div>

    <div class="col-md-6">
      <img src="/assets/images/Gray-Box.gif" alt="website-sample" class="site-image site-image1">
      <h3 class="title">Cook It Up</h3>
      <p class="description">An online recipe sharing site allowing foodies and eaters a like to search and share their own fabulous recipes.</p>
    </div>

  </div>
</div>