body{
  font-family: 'Roboto Condensed','Lato','Hind Guntur', sans-serif;
}

/*.row{
  margin-right: 0px; 
}
*/
/* make sidebar nav vertical */ 
.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
}
.sidebar-nav .navbar ul {
  float: none;
}
.sidebar-nav .navbar ul:not {
  display: block;
}
.sidebar-nav .navbar li {
  float: none;
  display: block;
}
.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
}



.container{
  margin-left: 0;
}

.navbar{
/*  position: relative;*/
  text-align: center;
  background-color:#FFF;
  height: auto;
  border-width: 0 3px 0 0;
  border-color: #23222D;
  border-radius: 0;
}

.navbar-nav{
  padding-top: 25px;
/*  margin-bottom: auto;*/
}

.sidebar-nav .navbar li a{
  font-size: 12pt;
}

/* mouse over link */
.sidebar-nav .navbar li a:hover {
  background-color: #ffd180;
}

.sidebar-nav .navbar li a:visited{
  color: none;
}

/*#bottom-content{
    margin-top: 266px;
}*/

/*#main-content{
  margin-left:0;
  padding, margin: 0;
}*/

.col-sm-3{
  padding-left: 0;
}

/*#main-image{
  padding-left: 20px;
}*/

/*#carousel-example-generic .carousel{
  width:1043px;
  height:313px;
}*/

/*.carousel-control.left, 
.carousel-control.right {
    background-image: none
}*/


.img-rounded{
  width: 70%;
  padding-top: 15px;
  padding-left:5px;
}

.site-image{
  padding-top: 14px;
  width:100%;
}

/*.first-image{
  padding-left: 15px;
}*/

/*.title{
  color:#23527C;
}*/

/*.description{

}*/





/*@media (min-width: 768px)
{.col-sm-3 
  {
    width: 22%;
  }
}*/