/* make sidebar nav vertical */ 
.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
.sidebar-nav .navbar ul {
  float: none;
}
.sidebar-nav .navbar ul:not {
  display: block;
}
.sidebar-nav .navbar li {
  float: none;
  display: block;
}
.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
}

body{
  font-family: 'Roboto Condensed','Lato','Hind Guntur', sans-serif;
}

.container{
  width:100%;
  height:100%;
  padding:0;
}

.navbar{
  position: relative;
  text-align: center;
  background-color:#FFF;
  height: auto;
  border-width: 0 3px 0 0;
  border-color: #23222D;
  border-radius: 0;
}

.navbar-nav{
  padding-top: 25px;
  margin-bottom: auto;
}

.sidebar-nav .navbar li a{
  font-size: 12pt;
}

/* mouse over link */
.sidebar-nav .navbar li a:hover {
  background-color: #ffd180;
}

.sidebar-nav .navbar li a:visited{
  color: none;
}

#bottom-content{
    margin-top: 475px;
}

#main-content{
  margin-left:0;
  padding, margin: 0;
}

.col-sm-9{
    padding-left: 0;
}

.col-sm-3{
    padding-right: 0;
}